body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    overflow-x: hidden;
}

#staticHeader{
    background-color: #002966;
    font-size: 50px;
    color: white;
    width:100vw;
    height:80px;
    text-align:center;
    line-height: 80px;
}

tr{
    cursor: pointer;
}
#title{
    padding:10px;
    text-shadow: 5px 5px 10px #222;
}

#backButton{
    position:absolute;
    margin-left: 12px;
    margin-top:3px;
    cursor:pointer;
    display:none;
    text-shadow: 5px 5px 10px #222;
}

#quizList{
    display:inherit;
    margin-top: 20px;
}

#quizView{
    display:none;
}

#quizCreator{
    display:none;
}
#quizViewHeader{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.largeButtonDiv{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}


#activeQuiz{
    display:none;
}

.back{
    font-weight:bold;
}

.option{
    border:solid;
    background-color:#80b3ff;
    border-radius:15px;
    padding:20px;
    margin:10px;
    transition: background-color 0.1s;
    cursor: pointer;
}

.option:hover{
    background-color: #6093dd;
}

.btn{
    cursor:pointer;
}

.input-group{
    margin: 5px;
}

.moreQuestions{
    text-align: center;
    font-size: 0;
    margin-bottom: 20px;
}

.quizNumberHeader{
    text-align: center;
    background-color:#fff;
    padding:8px;
    margin:10px 10px;
    font-size: 28px;
}

.highlight{
    background-color: red;
}


#timer{
    position:absolute;
    right: 20px;
    top: 10px;
    display:none;
    color: white;
    text-shadow: 5px 5px 10px #222
}

.selected{
    background-color: #4f6595;
}

.selected:hover{
    background-color: #37466f;
}

.correct{
    background-color: green;
}

.correct:hover{
    background-color: #006d00;
}

.wrong{
    background-color: red;
}

.wrong:hover{
    background-color: #c50000;
}

#activeQuiz{
    margin-bottom:50px;
}

#quizTitle{
    text-align: center;
    vertical-align: middle;
    border:solid;
    background-color:#80b3ff;
    border-radius:5px;
    padding:40px;
    margin:20px;
}
.creatorAdds{
    text-align: center;
    margin-bottom: 20px;
}

.imageUrl{
    margin-top: 50px;
}

.alert{
    display:none;
}

.findCorrect{
    margin-right: 10px;
}

.findTimeAdd{
    margin-right: 10px;
}

.buttonCenter{
    text-align: center;
    align-items: center;
}

#addQuestion{
    margin-right: 30px;
}

#nickButton{
    margin-bottom: 20px;
}

#nickAppend{
    font-size: 40px;
}

.textCenter{
    text-align: center;
}

.addOption{
    width: 15vw;
    margin: 0 auto;
}

#quizImage{
    max-width: 80vw;
    max-height: 40vh;
    margin: auto;
    display: block;
}

.form-control{
    min-width: 60px;
}

.option-input{
    min-width: 100px
}

#playerTableDiv{
    display: none;
}